<h3 id="titleHistory"><i class="fa fa-history"></i> History</h3>
<div class="list-group" id="list" style="height: 500px; overflow: scroll; -webkit-overflow-scrolling: touch;">
  <!-- *** LOCAL *** -->
  <!--<button class="list-group-item list-group-item-action" *ngFor="let h of history.reverse()" [textContent]="h" (click)="onItem($event)"></button>-->
  <!-- *** SERVER *** -->
  <button
    class="list-group-item list-group-item-action"
    *ngFor="let h of serv1Service.history.reverse()"
    [class]="h._id == serv1Service.currentVideoId ? 'list-group-item list-group-item-action active' : 'list-group-item list-group-item-action'"
    [textContent]="h.url"
    [id]="h._id"
    (click)="onItem($event)"
  ></button>
</div>
