<label style="text-align: center; display: block; height: 50px; font-size: 25px; font-weight: bold">History</label>
<div class="list-group" id="list" style="height: 200px">
  <!-- *** LOCAL *** -->
  <!--<button class="list-group-item list-group-item-action" *ngFor="let h of history.reverse()" [textContent]="h" (click)="onItem($event)"></button>-->
  <!-- *** SERVER *** -->
  <button class="list-group-item list-group-item-action" *ngFor="let h of serv1Service.history.reverse()" [textContent]="h.url" (click)="onItem($event)"></button>
</div>
