#historyComponentDiv{
  background-color: #E9897E;
}
#videoViewComponentDiv{
  background-color: black;
}
#bookmarksComponentDiv{
  background-color: #63aa99;
}

#popupDiv{
  margin-top: 100px;
}

#popup{
  text-align: center;
  box-shadow: 0 0 30px #2F2F2F;
}
