<div class="container-fluid">
  <div class="row ">
    <div class="col-md-4">
    </div>
    <div class="col-md-4" style="background-color: bisque">
      <div class="row ">
        <div class="col-md-6">
          <!--Search bar-->
          <app-search-bar [type]="bar1" color='blue'></app-search-bar>
        </div>
        <div class="col-md-6">
          <!--Button-->
          <button class="btn btn-success" [disabled]="!isAuth" (click)="onSwitchOn()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4" style="background-color: cadetblue">
      <!--History-->
      <app-history></app-history>
    </div>
    <div class="col-md-4" style="background-color: coral">
      <!--Video player-->
      <app-video-view></app-video-view>
    </div>
    <div class="col-md-4" style="background-color: royalblue">
      <!--Bookmark-->
      <app-bookmarks></app-bookmarks>
    </div>
  </div>


</div>
