<h3 id="titleBookmarks"><i class="fa fa-bookmark"></i> Bookmarks</h3>
<button class="btn bg-white"
        id="buttonAddBookmark"
        (click)="onAddBookMarks()">
        Add to Bookmarks <i class="fa fa-plus" aria-hidden="true"></i>
</button>
<button class="btn bg-white" id="buttonShowBookmarks" (click)="showHideBookMarks()" [innerHTML]="valueButton">Show Bookmarks</button>
<div id="divBookmarkMsgLabel" [style.visibility]="isHiddenLabel">
  <label id="bookmarkMsgLabel"></label>
</div>
<div class="list-group" id="list" [hidden]="isHiddenBookmarks">
  <!-- *** LOCAL *** -->
  <!--<button class="list-group-item list-group-item-action" *ngFor="let b of bookmarks.reverse()" [textContent]="b"></button>-->
  <!-- *** SERVER *** -->
  <button class="list-group-item list-group-item-action"
          id="buttonBookmark"
          *ngFor="let b of serv1Service.bookmarks"
          [textContent]="b.url"
  ></button>
</div>
